<div class="container">
    <p class="typeProduct-title">Thực Đơn</p>
    <div class="lineborder text-center">
        <img src="/images/line-under-heading.png" alt="lineborder">
    </div>
    <div class="typeProduct-items row mt-4">

        <div class="typeProduct-item col-4">
            <div class="typeProduct-content" style="position: relative;">
                <div class="typeProduct-black"></div>
                <div class="cofeType">
                    <div class="typeProduct-items-content">
                        <p>Cà Phê</p>
                        <a href="/menu/cofe">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="typeProduct-item col-4">
            <div class="typeProduct-content" style="position: relative;">
                <div class="typeProduct-black"></div>
                <div class="teaType">
                    <div class="typeProduct-items-content">
                        <p>Trà Sữa</p>
                        <a href="/menu/tea">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="typeProduct-item col-4">
            <div class="typeProduct-content" style="position: relative;">
                <div class="foodType">
                    <div class="typeProduct-black"></div>
                    <div class="typeProduct-items-content">
                        <p>Đồ Ăn</p>
                        <a href="/menu/food">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>