<div class="menu">
    <p class="menu-title"></p>
    <img src="/images/line-under-heading.png" alt="" class="mennu-title-underline">
    <ul>
        <li>
            <div class="typeproduct">
                <p class="typeproduct-title">Cà Phê</p>
                <div class="typeproduct"></div>
                <a href="" class="typeproduct-link">Xem thêm</a>
            </div>
        </li>
        <li>
            <div class="typeproduct">
                <p class="typeproduct-title"></p>
                <div class="typeproduct"></div>
                <a href="" class="typeproduct-link">Xem thêm</a>
            </div>
        </li>
        <li>
            <div class="typeproduct">
                <p class="typeproduct-title"></p>
                <div class="typeproduct"></div>
                <a href="" class="typeproduct-link">Xem thêm</a>
            </div>
        </li>
    </ul>
</div>