<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-whatever="123">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Hủy đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có muốn hủy đơn hàng này không</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="confirm-delete">Xác Nhận</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Quay lại</button>
            </div>
        </div>
    </div>
</div>
