<div class="card col-xl-2 col-lg-2 col-md-4 col-sm-12 ml-3 p-0 mb-3" >
  <img src="<%='/'+data.image%>" class="card-img-top" alt="..." >
  <div class="card-body" style="padding: 1rem;">
      <p class="price-text"><%=data.price%>đ</p>
      <div class="card-content-bottom">
          <h4 class="product-name"><a href="/product/<%=data.id%>"><%=data.name%></a></h4>
          <a href="">
            <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
          </a>
      </div>
  </div>
  
</div>
