<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="height: 100vh">
    <div href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none nav-admin">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Trình quản lý cưa hàng</span>
        <button type="button" class="btn btn-outline-primary btn-logout">
            <a href="/logout"> Đăng Xuât </a>
        </button>
    </div>

    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page"
                ><i class="fa-solid fa-house-chimney"></i>
                Trang chủ
            </a>
        </li>

        <li class="nav-item">
            <a href="/admin/order" class="nav-link text-white"
                ><i class="fa-solid fa-gauge"></i>
                Quản lý đơn hàng
            </a>
        </li>

        <li class="nav-item">
            <a href="/admin/createproduct" class="nav-link text-white"
                ><i class="fa-solid fa-mug-hot"></i>
                Thêm Sản phâm
            </a>
        </li>

        <li class="nav-item">
            <a href="/admin/editProduct" class="nav-link text-white"
                ><i class="fa-solid fa-bars-progress"></i>
                Quản lý sản phẩm
            </a>
        </li>

        <li class="nav-item">
            <a href="/admin/createposts" class="nav-link text-white"
                ><i class="fa-solid fa-calendar-days"></i>
                Tạo Posts giới thiệu
            </a>
        </li>

        <li class="nav-item">
            <a href="/editposts" class="nav-link text-white"
                ><i class="fa-solid fa-paste"></i>
                Quản lý Posts giới thiệu
            </a>
        </li>

        <li class="nav-item">
            <a href="/createnews" class="nav-link text-white"
                ><i class="fa-solid fa-calendar-days"></i>
                Tạo bài viết
            </a>
        </li>

        <li class="nav-item">
            <a href="/editnews" class="nav-link text-white"
                ><i class="fa-solid fa-paste"></i>
                Quản lý bài viêt
            </a>
        </li>
    </ul>
</div>
