<div class="item row g-0">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="posts-image">
        <img src="<%= posts.image %>" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="content">
        <h3><%= posts.title %></h3>
        <h4><%= posts.slogan %></h4>
        <p class="p-text"><%= posts.detail %></p>
      </div>
    </div>
  </div>