<%- include('header') -%>
<body>
    
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem; height: 615px;">
                <div class="card-body p-5 text-center">
    
                <h3 class="mb-5">Đăng Nhâp</h3>
                    <form action="/login" method="post">
                        <div class="form-outline mb-4">
                            <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="uname"/>
                            <label class="form-label">Tài Khoản</label>
                        </div>
            
                        <div class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="pw"/>
                            <label class="form-label" for="typePasswordX-2">Mật Khâu</label>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit" formaction="/login">Đăng Nhập</button>
                    </form>
                    <p class="register-btn">Bạn chưa có tài khoản ? <a href="/register">Đăng Ký</a></p>
                    
                <hr class="my-4">
                    
                <a class="btn btn-outline-primary btn-lg btn-block facebook-login" href="/login/facebook" role="button">
                    <i class="fab fa-facebook-f me-2"></i>  Continue with Facebook
                </a>
                <a class="btn btn-outline-danger btn-lg btn-block google-login" href="/login/google" role="button">
                    <i class="fab fa-google me-2"></i>   Continue with Google
                </a>

                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

</body>
<%- include('../bootstrapScript/script') -%>
